doctype html
html
  head
    title
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href='./assets/codemirror/codemirror.css', rel='stylesheet')
    link(href='./assets/codemirror/theme/eclipse.css', rel='stylesheet')
    link(href='./assets/themes/default/semantic.css', rel='stylesheet')
    style.
        .text-yellow {
          background-color: yellow;
          position:absolute;
        }
  body
    #app
    script.
      require('./sandbox/index.js');
  