doctype html
html
head
    title
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href='./assets/codemirror/codemirror.css', rel='stylesheet')
    link(href='./assets/codemirror/theme/eclipse.css', rel='stylesheet')
    style.
        body, html { 
            padding: 0; 
            margin: 0; 
            background-color: #eee; 
        }
        .CodeMirror { 
            height: 100%; 
            line-height: 19.5px; 
            font-size: 13px; 
            font-weight: normal; 
            font-family: Consolas; 
        }
    
body
    #app
    script.
      require('./sandbox/index.js');