doctype html
html
  head
    title OpenHLSL - HLSL that scales.
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    link(href="./assets/themes/default/semantic.css", rel="stylesheet")
  body
    #app
    script(src="./site/index.js")
  